/* Cafetering */
.catering {
    position: relative;
    max-width: 100%;
    padding: 40px 0px;
    background:#f9f9f9;
    color: #333;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.catering h1 {
    width: 16.5%;
    position: relative;
    left: 10px;
    padding: 0px 0px;
    font-size: 2.5rem;
    color: #da8d19;
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #da8d19;
    display: inline-block;
    padding-bottom: 10px;
}

.catering p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Diseño para los servicios */
.catering .servicios {
    display: flex; /* Pone en fila los elementos */
    flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente línea cuando sea necesario */
    gap: 40px; /* Espacio entre los elementos dentro de un contenedor */
    justify-content: center; /* Centra los elementos en la fila */
    margin-top: 30px;
}

.catering .servicio {

    background-color: #fff;
    border-radius: 10px; /* Redondeo de bordes */
    padding: 20px; /* Espacio interno */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra */
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%; /* Ajustamos un ancho fijo */
}

.catering .servicio:hover {
    transform: translateY(-5px); /* Movimiento cuando pasas el ratón */
}

.catering .servicio img {
    max-width: 100%; /* Hace que las imágenes no se estiren */
    height: auto;
    border-radius: 10px; /* Redondeo de bordes de la imagen */
    margin-right: 15px; /* Espacio entre imagen y título */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Flex para alinear imagen y texto */
.catering .servicio .contenido {
    display: flex;
    align-items: center;
}

/* Menú en dispositivos móviles */
@media (max-width: 768px) {
    .catering h1 {
        width: 50%;
        position: relative;
        font-size: 30px;
        left: 0px;
    }

    .catering .servicio .contenido {
        align-items: baseline;
        width: 300px;
    }

    .catering .servicio .contenido img {
        height: 100%;
    }

    /* En pantallas pequeñas, las imágenes también se alinean verticalmente */
    .catering .servicios {
        flex-direction: column; /* Alineamos los elementos verticalmente */
        gap: 20px; /* Espacio más pequeño */
    }

    .catering .servicio {
        width: 100%; /* Asegura que los elementos ocupen todo el ancho */
    }
}
